.archive {

	.main {	
		
		.post-filter {
			padding-top: 2.75em;
			padding-bottom: 2.85em;
			
			button {
				
				&:focus {
					background-color: $theme-green;
				}
				
				&.active {
					color: $theme-green;
					background-color: rgba( $theme-green, .3 );
				}
				
			}
			
		}
		
		.header {
		    padding-top: 4.5em;
		    
		    h2 {
			    margin-bottom: 1.2em;
		    }
		    
		    .divider {
			    margin-bottom: 3.85em;
		    }
		    
		}
	}
	
}