/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
COMMON ELEMENTS
*********************/
.grid-container.grid-1400 {
	max-width: 1400px;
}

main.main,
.module {
	padding-top: 2.55em;
	padding-bottom: 2.55em;
	
	&.no-top-padding {
		padding-top: 0;
	}

	&.no-bottom-padding {
		padding-bottom: 0;
	}
	
}

.off-canvas-content.no-bottom-padding {
	main.main {
		padding-bottom: 0;
	}
}

.page-banner {
	background-color: $dark-gray;
	position: relative;
	
	.grid-container {
		position: relative;
		color: $white;
		
		.grid-x {
			min-height: 256px;
			padding-top: 3em;
			padding-bottom: 3.2em;
		
			h1,
			a {
				margin: 0;
				color: $white;
			}
		
		}
		
	}
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;	
}

.divider {
	height: 1px;
	background-color: $dark-gray
}

.light-gray-bg {
	background-color: $light-gray;
}

.gray-bg {
	background-color: $dark-gray;
	color: $white;	
}

.green-bg {
	background-color: $theme-green;	
}

.blue-bg {
	background-color: $theme-blue;	
}

.purple-bg {
	background-color: $theme-purple;	
}

button,
.button {
	cursor: pointer;
}

.archive,
.insight-grid {
	.button.outline {
		min-width: 300px;
		
		@include breakpoint(medium) {
			min-width: 459px;
		}
		
	}
}

.tax-buttons.grid-x.grid-padding-x {
	margin-right: -.65rem;
    margin-left: -.65rem;
    
    .cell {
	    padding-right: .65rem;
		padding-left: .65rem;
    }
	
	.button {
		min-height: 37px;
		letter-spacing: 2px;
		display: flex;
		align-items: center;
		margin-bottom: 1.35rem;
		padding: .584em 1.168em;
		
		.icon-wrap {
			margin-right: .85em;
			height: 21px;
			width: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
	}
}

.slider {
	
	.slider-nav {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		
		button:last-child {
			margin-left: 1.1em;
		}
		
	}
	
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: -6px;
	margin-right: -6px;
	
	>div {
		margin: 0 6px;
		a {
			width: 32px;
			height: 32px;
			background-color: $light-gray;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
		}
	}
}

.breadcrumbs {
	li:not(:last-child):after {
		content: url(../images/breadcrumb-seperator.svg);
	}
}

.underlined {
	text-decoration: underline;
}

.row-height {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

span.name_first label,
span.name_last label {
    position: absolute!important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
    margin: 0 !important;
}

.gform_wrapper {
	ul.gform_fields {

		ul.gfield_checkbox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-left: -1rem;
		    margin-right: -1rem;
		    width: 100%;
			
			li {
				margin: 0;
			    padding-left: 1rem !important;
			    padding-right: 1rem !important;
				display: flex;
				align-items: baseline;
				flex: 1 0 100%;
				
				@include breakpoint(tablet) {
					flex: 0 0 auto;
				}

				input {
					opacity: 0;
					margin-right: .8em;
					
					&[type=checkbox]:checked {
						
						&+label {
							font-weight: 400;
						}
						
					}
					
				}
				
				label {
					color: $white;
					font-size: rem-calc(17);
					line-height: 1;
					position: relative;
					
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: -29px;
						width: 16px;
						height: 16px;
						background-color: $white;
					}
					
				}
				
			}
			
		}
		
	}
}

// Gravity Forms
.gform_wrapper {
	
	[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
	border-bottom: 1px solid $black;
	
		&::placeholder {
			color: $black;
		}
				
	}
	
	textarea {
		border: 1px solid $black;
	}
	
	
}

/*********************
TYPOGRAPHY
*********************/
p,
.p {
	font-size: rem-calc(17);
	line-height: 2.066;
}

.small-caps {
	font-size: rem-calc(15);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.rm-link {
	font-size: rem-calc(15);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: color .25s ease;
	
	&.black {
		color: $black;
		
		&:hover {
			color: $theme-green;
		}
		
	}
	
	&.green {
		color: $theme-green;
		
		&:hover {
			color: $black;
		}
			
	}
	
}

blockquote {
	background-color: $dark-gray;
    color: #fff;
    padding-top: 6.45em;
    padding-bottom: 4.3em;
    
    p {
	    position: relative;
	    text-align: center;
	    font-family: $font-heading;
	    font-size: rem-calc(28);
	    color: $white;
	    padding-right: 1.25rem;
		padding-left: 1.25rem;
		
	&:before {
		content: '“';
		font-family: $font-body;
		font-size: rem-calc(51);
		font-weight: bold;
		position: absolute;
		top: -72px;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
	}
	    
	    @include breakpoint(medium) {
		    font-size: rem-calc(33);
	    }
	    
	    @include breakpoint(tablet) {
		    width: 83.33333%;
		    margin-left: 8.33333%;
	    }
	    
    }
    
}

button,
.button {
	font-weight: bold;
	text-transform: uppercase;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta  
.byline {
	color: #000;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 5.15rem;
	margin-bottom: 5.35em;
		
	.pagination {
				
		li span,
		li a {
			width: 39px;
			height: 39px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
		}
		
		.current {
			border-radius: 100%;
		}
	}

}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}
