.gray-rectangle-cta {
	
	.inner {
		background-color: $dark-gray;
		color: $white;
		padding-top: 6.45em;
		padding-bottom: 4.3em;
	}
	
	.small-caps {
		padding-bottom: 1.05em;
	}
	
	p {
		margin-bottom: 0;
	
		&.h2 {
			line-height: 1.625;
			margin-bottom: .05em;
		}
	
	}
	
	.bottom {
		padding-top: 1.9rem;
	}
	
}