.gray-rectangle-cta {
	
	>.grid-container {
		background-color: $dark-gray;
		color: $white;
		padding-top: 6.45em;
		padding-bottom: 4.3em;
	}
	
	.small-caps {
		padding-bottom: 1.05em;
	}
	
	p {
		line-height: 1.625;
		margin-bottom: .62em;
	}
	
}