.page-template-page-insights {
	
	main.main {
		padding-top: 3.85em;
		padding-bottom: 7.2em;
	
		.tax-row {
			padding-top: 3.13em;
			padding-bottom: 3.13em;
			
			.row-header {
				padding-bottom: 2.65em;
			
				h2 {
					margin-bottom: 1.8em;
				}
			
			}
			
			.card-grid {
				margin-top: 3.2em;
				margin-bottom: 2.3em;
			}
					
		}
	
	}
	
}