.page-template-page-insights {
	
	.page-banner {
		.jump-links {
			padding-top: 2em;
			flex-direction: column;
			justify-content: flex-start;
			
			@include breakpoint(tablet) {
				flex-direction: row;
			}
					
			@include breakpoint(xlarge) {
				padding-top: 0;
				justify-content: flex-end;
			}
			
			.jump-link-wrap {
			
				a.button {
					max-width: 220px;
					border-radius: 0;
					padding: 1.25rem;
					
					font-size: rem-calc(12);
					
					@include breakpoint(tablet) {
						max-width: none;
						font-size: 1.0625rem;
					}
					
				}
	
			&:nth-child(1) {
				a.button {
					@include breakpoint(tablet) {
						border-radius: $global-radius 0px 0px $global-radius;
					}
				}
			}	
					
			&:nth-child(2) {
				a.button {
					border-radius: 0;
				}
			}	
			
			&:nth-child(3) {
				a.button {
					@include breakpoint(tablet) {
						border-radius: 0px $global-radius $global-radius 0px;
					}
				}
			}			
		
			}
			
		}	
	}
	
	main.main {
		padding-top: 3.85em;
		padding-bottom: 7.2em;
	
		.tax-row {
			padding-top: 3.13em;
			padding-bottom: 3.13em;
			
			.row-header {
				padding-bottom: 2.65em;
			
				h2 {
					margin-bottom: 2.25em;
				}
			
			}
			
			.card-grid {
				margin-top: 3.2em;
				margin-bottom: 2.3em;
			}
					
		}
	
	}
	
}