.overflow-slider {
	overflow: hidden;
	
	.left {
		background-color: $white;
		position: relative;
		z-index: 1;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			width: 50vw;
			top: 0;
			bottom: 0;
			left: -50vw;
			background-color: $white;
		}
		
	}
	
	.right {
		max-width: 440px;

		.slick-list {
			overflow: visible;

			.slick-track {
				display: flex;
			}

			.single-slide {
				display: flex;
			    flex-direction: column;
			    height: auto;
				padding: 2.65em;
				margin-right: 3em;
				background-color: rgba( $theme-green, .3 );
				
				h2 {
					margin-bottom: .85em;
				}
				
				.divider {
					margin-bottom: 1.2em;
				}
				
				p {
					font-size: rem-calc(12);
					margin-bottom: .6em;
				}
				
			}
		
		}
	
	}
	
}