.two-cta-boxes {
	
	.inner {
		padding: 2.9em 4.4em;
		
		a.button {
			min-width: 218px;
			background-color: $white;
		}
		
	}
	
}

.child-links {
	.grid-x {
		margin-right: -.6rem;
		margin-left: -.6rem;
		.cell {
			margin-right: .6rem;
			margin-left: .6rem;
			
			a {
				padding: .959em 2.294em;
			}
			
		}	
	}
}