.post-card-shadow {
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,.15);
}

.post-card {
	
	&:not(.horizontal) {
		margin-bottom: 2.5rem;
		
/*
		.post-card-shadow {
			max-width: 351px;
		    display: inline-flex;
		    flex-direction: column;
		    text-align: left;
		}
*/
		
	}
	
	a {
		color: $black;
	}
	
	.tax-icons {
		margin-top: -24px;
	    position: relative;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    
	    .icon {
		    width: 38px;
		    height: 38px;
		    border-radius: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin: 5px;
	    }
	    
	}
		
	.inner {

				
		.top {
			position: relative;
		}
		
		.bottom {
			padding: 0 2.5em 2.35em 2.5em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
						
			.icons-wrap {
				
			}
			
			h3 {
				padding-top: 1.65em;
			}
			
			.link-wrap {
				padding-top: .9em;
			}
			
		}
	}
	
&.type-news_post {
	.inner .bottom h3 {
    	padding-top: 2.7em;
    }
}
	
}