.single.single-team_member {
	
	article.team_member {
	
		.left {
			
			@include breakpoint(xlarge) {
				padding-right: 3rem;
			}
			
			header.article-header {
				padding-bottom: 3.1em;
				
				h1 {
					font-size: rem-calc(40);
					line-height: 1.05;
					margin-top: 1.5rem;
					margin-bottom: .28em;
					
					@include breakpoint(medium) {
						margin-top: 0;
					}
					
				}
				
				.job-title {
					font-size: rem-calc(20);
					line-height: 1.1;
				}
			}
		}
		
		.right {
			.inner {
				padding-top: 1.8em;
				border-left: 2px solid $medium-gray;
				
				.row {
					display: flex;
					align-items: flex-start;
					padding-bottom: 2.5em;
					
					.pipe {
						height: 2px;
						background-color: $medium-gray;
						width: 31px;
						margin-right: 9px;
					}
					
					.content-wrap {
						margin-top: -12px;
						font-size: rem-calc(16);
						
						.content-label {
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 2px;
							padding-bottom: .75em;
						}
						
						.content {
							color: $black;
							line-height: 2;
							
							a {
								color: $black;
							}
							
						}
						
					}
					
				}
				
			}
		}
		
	}	
		
}