.single {
	.page-banner {
		margin-bottom: 4.45em;
	}
}

.single:not(.single-team_member) {
	
	.article-header {
		padding-bottom: 2.2em;
		margin-bottom: 1em;
		border-bottom: 1px solid $dark-gray;
				
		.byline {
			padding-top: 5.05em;
			padding-bottom: 1.55em;
		
			.post-date {
				margin-bottom: $global-margin;
				font-size: rem-calc(20);
			}
		
		}	
	}
	
	.entry-content {
		.grid-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	footer.article-footer {
		border-top: 1px solid $dark-gray;
		border-bottom: 1px solid $dark-gray;
		padding-top: 3.15em;
		padding-bottom: 1.6em;
		
		.left,
		.right {
				padding-bottom: 1.5em;
			@include breakpoint(medium) {
				padding-bottom: 0;
			}
		}
		
		.left {
			
			.img-wrap {
				padding-right: .4rem;
				
				>div {
					max-width: 68px;
					border-radius: 100%;
					overflow: hidden;
				}
			}
			
			h3 {
				font-size: rem-calc(23);
				margin-bottom: .18em;
				
				a {
					color: $black;
				}
				
			}
			
			.title {
				font-size: rem-calc(20);
			}
			
		}
		
		.right {
			
			>.grid-x {
			
				@include breakpoint(medium) {
					justify-content: flex-end;
				}
				
				.share-label {
					padding-right: .65rem;
				}
				
			}
			
		}
		
		.social-links.a2a_default_style {
			>div:last-child {
				margin: 0;
			}
		}
				
	}
	
	.post-disclaimer {
		margin-top: 1em;
		margin-bottom: 5.9em;

		p {
			font-size: rem-calc(15);
			line-height: 1.5;
			margin-top: .5em;
			margin-bottom: .5em;
		}
	}
	
}