.team-module {
	
	.color-bg {
		padding-top: 5em;
	}
	
	h2 {
		margin-bottom: .95em;
	}
	
	.card-grid {
		padding-top: 4.75em;

		.team-module-card {
			padding-bottom: 5.7em;
			
			a {
				color: $black;
							
				.img-wrap {
					padding-right: .4rem;
					
					>div {
						max-width: 68px;
						border-radius: 100%;
						overflow: hidden;
					}
				}
				
				h3 {
					font-size: rem-calc(23);
					margin-bottom: .18em;
					
					a {
						color: $black;
					}
					
				}
				
				.title {
					font-size: rem-calc(20);
				}	
				
			}	
			
		}
		
	}
	
}